.portfolio {
    margin: 0 !important;
    position: relative;
    overflow: hidden;
    padding-left: 4%;
    padding-right: 15%;
    padding-top: 170px;
    padding-bottom: 70px;
    border-bottom: 1px solid whitesmoke;

    


}

@media (max-width: 991px){
    .portfolio {
        padding-right: 4%;


    }

}
@media (max-width: 400px){
    .portfolio {
        padding-top: 70px;
    }

}
